<!-- contact-us.component.html -->
<div class="min-h-screen flex items-center justify-center bg-slate-600">
    <div class="bg-white p-8 rounded shadow-md max-w-lg w-full">
      <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
      <div class="flex items-center mb-4">
        <mat-icon class="mr-2">email</mat-icon>
        <span class="text-gray-600">Email:{{email}}</span>
      </div>
      <div class="flex items-center mb-4">
        <mat-icon class="mr-2">phone</mat-icon>
        <span class="text-gray-600">Phone: +1234567890</span>
      </div>
      <div class="flex items-center mb-4">
        <mat-icon class="mr-2">location_on</mat-icon>
        <span class="text-gray-600">Address: Gachibowli ,Hi-tech city , Hyderabad</span>
      </div>
    </div>
  </div>
  