/* hero.component.css */

.hero-banner {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/621/356/original/vector-online-shop-or-ecommerce-landing-page-template.jpg');
    background-size: cover;
    background-position: center;
  }
  